.task-item, .task-item-content, .task-item-data, .task-item-completed {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.task-item-completed {
  margin-right: 0.5em;
  cursor: pointer;
}

.task-item-completed svg {
  font-size: 25px;
  color: #1DA57A;
}

.task-item {
  justify-content: space-between;
  height: 75px;
  padding: 0px 1.5em;
  background: #fff;
  margin-bottom: 0.5em;
}
