.task-item, .task-item-data, .task-item-completed {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.task-item {
  /* justify-content: space-between; */
  height: 75px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 0.5em;
  border-radius: 2px;
}

.task-item-completed {
  cursor: pointer;
  padding: 0.5em;
  /* background: #1DA57A; */
  width: 30px;
  align-self: stretch;
  margin-right: 1em;
}

.task-item-completed svg {
  font-size: 15px;
  color: #fff;
}

