.tasks-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.tasks-form div {
  display: flex;
  flex-direction: row;
}

.tasks-form div:nth-child(2) {
  margin-left: 1em;
}